@(photoUploadForm:Form[Photo], presetName:String)(implicit messages: Messages, cld:com.cloudinary.Cloudinary, webJarAssets: WebJarAssets, request: play.api.mvc.RequestHeader)

@import cloudinary.views.html.helper._
@import com.cloudinary._
@import com.cloudinary.parameters._

@main("New Photo with Unsigned Upload") {
<div id="direct_upload">
  <h1>New Photo</h1>
  <h2>Direct upload from the browser</h2>
  <p>You can also drag and drop an image file into the dashed area.</p>
  @helper.form(action = routes.PhotosController.createDirect()) {
  @helper.CSRF.formField
  <div class="form_line">

      @helper.inputText(photoUploadForm("title"))
    </div>
    <div class="form_line">
      <label for="photo">Photo:</label>
      <div class="form_controls">
        <div class="upload_button_holder">
          <a href="#" class="upload_button">Upload</a>
          @unsignedResourceUploadTag(photoUploadForm("image"),presetName, UploadParameters().callback("http://localhost:9000"))
          @if(photoUploadForm("image").hasErrors){
            <span class="errors">@photoUploadForm("image").error.map(_.message)</span>  
          }
        </div>
        <span class="status"></span>
      </div>
    </div>
    <div class="form_line">
        <div class="form_controls">
          <div class="preview"></div>
        </div>
    </div>
    <div class="form_line">
      <div class="form_controls">
      <input type="submit" value="Submit Photo">
    </div>
  </div>
  <input type="hidden" name="bytes" value="@photoUploadForm("bytes").value">
  }

  <a href="@routes.PhotosController.index" class="back_link">Back to list</a>
  
  <div id="info"></div>
  
  <!-- Configure Cloudinary jQuery plugin -->
  <script src="@routes.Assets.at("javascripts/direct.js")" type="text/javascript"></script>
}