@(title: String)(content: Html)(implicit cld:com.cloudinary.Cloudinary, webJarAssets: WebJarAssets)
@import cloudinary.views.html.helper._
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        @config(cld)
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        @List("jquery.min.js", "jquery.ui.widget.js", "jquery.iframe-transport.js", "jquery.fileupload.js", "cloudinary-jquery-file-upload.js").map{dependency =>
            <script src="@routes.WebJarAssets.at(webJarAssets.locate(dependency))" type="text/javascript"></script>
        }
        <link rel="shortcut icon"
    		href="@url("http://cloudinary.com/favicon.png", Set('type -> "fetch"))" />
    </head>
    <body>
    <div id="logo">
  		<!-- This will render the image fetched from a remote HTTP URL using Cloudinary -->
  		<img src="@url("http://cloudinary.com/images/logo.png", Set('type -> "fetch"))">
	</div>
    	<div class="content">
        	@content
        </div>
    </body>
</html>
